body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: xx-large;
}

.parallax-container{
    background-attachment: fixed;
    min-height: 200vh;
    background-position: center;
}

.icons{
    position: sticky;
    top: 0px;
    height: 200px;
    width: 200px;
}

.buffer{
    background-color: black;
    height: 30vh;
}

.text-box{
    width: 30%;
    max-height: 50vh;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.61);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    border: 1px solid rgba(255, 255, 255, 1);
}

.padding{
    padding: 2em;
}

footer{
    background-color: black;
    color: beige;
    text-align: center;
}